* {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    margin: 0;
    font-family: 'Rubik Doodle Shadow', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header {
    font-size: 2em; /* Adjust the size as needed */
    margin-bottom: 20px; /* Add spacing between title and grid */
    text-align: center;
  }
  
  .grid-container {
    width: 400px;
    height: 300px;
    /* border: 1px solid #ccc; */
  }

  .cell {
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .grid-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .grid {
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    height: 600px;
    width: 600px;
  }
  
  .grid div {
    flex-grow: 1;
    height: 10%;
    width: 10%;
  }

  .grid div.frog {
    background-image: url('../assets/Frog.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }

  .grid div.carright {
    background-image: url('../assets/carright.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .grid div.carleft {
    background-image: url('../assets/carleft.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .grid div.lilypad {
    background-image: url('../assets/lilypad.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .row-0 {
    background-color: chartreuse;
  }

  .row-1, .row-2, .row-3, .row-4 {
    background-color: lightskyblue;
  }

  .row-5, .row-6, .row-7, .row-8  {
    background-color: dimgray ;
  }

  .row-9 {
    background: chartreuse;
  }